<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="navbara">
    <a class="ex1" href="/index" th:href="@{index}">Home </a>
    <a class="ex1" href="/about" th:href="@{/about}">About</a>
    <a class="ex1" href="/contact_us" th:href="@{/contact_us}">Contact Us</a>
    <div class="dropdown1">
        <button class="dropbtn1">Vote
            <i class="fa fa-caret-down"1></i>
        </button>
        <div class="dropdown1-content">
            <a href="greece" th:href="@{/greece}">Greece</a>
            <a href="uk" th:href="@{/uk}">UK</a>
            <a href="spain" th:href="@{/spain}">Spain</a>
        </div>
    </div>
    <div id="register" >
        <a href="/register" th:href="@{/register}">Register</a>
    </div>
</div>
<img src="../static/images/imageAbout2.jpg" th:src="@{/images/imageAbout2.jpg}" alt="picContact" style="width: 100%" height="550">
<h1>
    Contact us
</h1>


<ul class="list-group list-group-flush">
    <li class="list-group-item">First Name: Nikolaos</li>
    <li class="list-group-item">Last Name: Zavitsanos</li>
    <li class="list-group-item">Email: nikos@zav.com</li>
    <li class="list-group-item">Tel: 07777777333</li>
</ul>
</body>
<footer>
    &copy; N.Zavitsanos 2019
</footer>

</html>